.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
}

.header {
  flex: 1;
  max-height: 130px;
  background-color: #49acc0;
}

.content {
  display: flex;
  flex: 1;
  margin-top: -100px;

  padding: 0 100px 30px;
}